div{

  width: 400px;
  height: 200px;
  border-style: double;
  border-radius: 15%;
  box-shadow: -5pt 5pt 5pt #12E69C; /*desplazamiento horizontal, vertical, difuminado y color*/

}
div[class="clavo"]{

  overflow:hidden;
  background: radial-gradient(#F4BEFA,#FABED6);

}
div[class="calmo"]{

  overflow-y:hidden;
  background:linear-gradient( #9D3BBE, #643BBE);

}
div[class="cosmo"]{
	overflow-x:hidden;
	background: repeating-linear-gradient( #9AC9D5, #65B2A4, #6D853E);
}
body{
	margin-left:3%;
	margin-top:1,5%;
	margin-right:2%;
	padding-top:1,25%;
	padding-left:1,75%;
	padding-right:1%;
	background:url("imagenes/paris-2.jpg") repeat-x;
	background-size:25%;
	background-position:center;
	font-family:Century;
	font-size:8pt;
	color:#32164E;
}

@media(min-width:500px){
	body{
		font-family:Comic Sans MS;
		font-size:10pt;
	}
}

@media(min-width:1000px){
	body{
		font-family:Calibri;
		font-size:12pt;
	}
}

@media(min-width:1500px){
	body{
		font-family:Cambria;
		font-size:13pt;
	}
}


ol:last-of-type{
	list-style-type:none;/*Le quitas la numeración que ya venia*/
	counter-reset:contador 0;/*Le dices el nombre del contador y el numero en el que inicia*/
}
ol:last-of-type > li:before{
	content:"{"counter(contador)"}";/*Aquí le digo que ponga el counter entre llaves */
	counter-increment:contador 2; /*Dentro ya de los li le dices cuanto tiene que incrementar*/
}
ol:last-of-type > ol>li:before{

}



/*
ol {
  counter-reset: item 0
}

ol > li > ol{
  counter-reset: item2 0
}

li {
  display: block
}
ol > li:before {
  content: counter(item) " ";
  counter-increment: item 100
}

ol > li > ol > li:before {
  content: counter(item) " " counter(item2);
  counter-increment: item2 2
}*/
