img{
  width: 250px;
  height: 250px;

}
div#peuropa{
  display: flex;/*Estructura flex-box*/
  width: 95%;
  height: 800px;
  flex-direction:row;
  align-items:flex-end;
}
div#peuropa>div{
  width: 25%;
  height: 600px;
  border: 1px solid red;
}

div#picado{

align-self:flex-start; /*Se usa para modificar el aling items*/

}
div#peuropa>div:nth-child(3){

flex-grow: 6;

}
div#peuropa>div:nth-child(2){

flex-grow: 1;
}
div#peuropa>div:nth-child(1){

flex-grow: 2;

}
p [class="cantabria"]{

  font-family: "Times New Roman";
  font-size: 12pt;
  color:#15CBEB;
  background:linear-gradient(#C74B7B,#C76C4B,#C7B54B);

}
p [class*="ico"]{
  font-family: Calibri;
  font-size: 14pt;
  color:#43695B;

}
p [class~="nevados"]{

  font-family: Calibri;
  font-size: 14pt;
  color:#900E3E;


}
